/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset ends here */

/* header css */
.header{
    width: 1920px;
    height: 185px;
    background-color: black;
}
/* footer css */
.footer{
    background-color: black;
    width: 1919px;
    height: 817px;
}

footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 20pts;
}
footer h4{
    color: white;
    font-weight: bold;
    font-size: 25pts;
}
footer td{
    padding: 30px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* styles each logo's colour, for this design they're all the same */
  .fa-instagram {
    background: black;
    color: white;
  }
  .fa-twitter {
    background: black;
    color: white;
  }
  .fa-facebook {
    background: black;
    color: white;
  }
  .fa-youtube {
    background: black;
    color: white;
  }
  .fa-pinterest {
    background: black;
    color: white;
  }
  .fa-tiktok {
    background: black;
    color: white;
 