/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------CSS RESET ENDS HERE------------ */
 /*ADDING CUSTOM FONTS TO THE WEBSITE*/
@font-face{
  font-family: ARCADE;
  src: url("../fonts/ARCADE.TTF");
}
@font-face{
  font-family: Gamer;
  src: url("../fonts/Gamer.ttf");
}
@font-face{
    font-family: Oswald;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@font-face{
    font-family: RetroGaming;
  src: url("../fonts/Retro-Gaming.ttf");
}

/* Fixing layout on website */
body{
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

/* ---header css--- */
.header{ /*customizes black container in whole header*/
  height: 185px;
  background-color: black;
}
 h1{
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: ARCADE;
 transform: translateY(60%);
 }

 .h1a{
text-decoration: none;
 }

/* customizes search bar in header */
 .search{
    padding-left: 17px;
    padding-bottom: 17px;
 }
 #search{
    width: 424px;
    height: 30px;
    border-radius: 5px;
    color: #888484;
    font-weight: bold;
    font-size: 15px;
 }

.icons img{
  width: 57px;
  height: 57px;

}
.icons{
  float: right;
  display: block;
  transform: translateY(-110%)
}
/* customizing nav bar */
nav{ /*customizes white container in nav bar*/
  background-color: white;
  height: 52px;
}

nav ul{ /* flexes the items to position them properly */
  display: flex;
  justify-content: center;
  transform: translateY(-10%);
}

nav ul li{
  display: inline;
  padding: 15px;  
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: Gamer;
}

/* ---footer--- css */
.footer{
  background-color: black;
  height: 623px;
}

footer h4{
  color: white;
  font-size: 20px;
  font-family: RetroGaming;
  padding: 20px;
}

footer li{
  padding:10px;
}

footer ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Oswald;
  padding: 20px;
}

.siteinfo{
  transform: translateX(10%)
}
.aboutht{
  transform: translateX(-4%)
}
.customerservice{
  transform: translateX(-3%)
}


/* Style all font awesome icons */
.fa {
  padding:15px;
  font-size: 40px;
  width: 10px;
  text-decoration: none;
  border-radius: 50%;
  transform: translateX(90%) /*moves items on X axis*/
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* styles each logo's colour, for this design they're all the same */
  .fa-instagram {
    background: black;
    color: white;
  }
  .fa-twitter {
    background: black;
    color: white;
  }
  .fa-facebook {
    background: black;
    color: white;
  }
  .fa-youtube {
    background: black;
    color: white;
  }
  .fa-pinterest {
    background: black;
    color: white;
  }

 