/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------CSS RESET ENDS HERE------------ */
 /*ADDING CUSTOM FONTS TO THE WEBSITE*/
@font-face{
  font-family: ARCADE;
  src: url("../fonts/ARCADE.TTF");
}
@font-face{
  font-family: Gamer;
  src: url("../fonts/Gamer.ttf");
}
@font-face{
    font-family: Oswald;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@font-face{
    font-family: RetroGaming;
  src: url("../fonts/Retro-Gaming.ttf");
}

/* Fixing layout on website */
body{
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

/* ---header css--- */
.header{ /*customizes black container in whole header*/
  height: 185px;
  background-color: black;
}
 h1{
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: ARCADE;
 transform: translateY(60%);
 }

 .h1a{
text-decoration: none;
 }

/* customizes search bar in header */
 .search{
    padding-left: 17px;
    padding-bottom: 17px;
 }
 #search{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    color: #888484;
    font-weight: bold;
    font-size: 15px;
 }

.icons img{
  width: 57px;
  height: 57px;

}
.icons{
  float: right;
  display: block;
  transform: translateY(-110%)
}
/* customizing nav bar */
nav{ /*customizes white container in nav bar*/
  background-color: white;
  height: 52px;
}

nav ul{ /* flexes the items to position them properly */
  display: flex;
  justify-content: center;
  transform: translateX(10%) translateY(-10%);
}

nav ul li{
  display: inline;
  padding: 15px;  
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: Gamer;
}

/*---------- CSS FOR HTML 1 (INDEX/HOMEPAGE) ONLY ---------- */

.greenfunko{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}
.funkobanner{
transform:translateX(-5%);
}
.green{
  transform:translateX(15%);
}

.buttons button{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: RetroGaming;
  font-size: 25px;
  border-radius: 5px;
}

.shopnow1{
  transform: translateX(72%) translateY(-50%);
}
.shopnow2{
  transform: translateX(340%) translateY(-50%);
}

.fandoms{
  padding-left: 100px;
}
.fandoms img{
  width: 178px;
  padding:20px;
}

.sanriohoodies{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 20px;
}

.shopnow3{
  transform: translateX(130%) translateY(-160%);
}
.shopnow4{
  transform: translateX(370%) translateY(-160%);
}

/* ---------- END OF CSS FOR HTML 1 ONLY ---------- */

/*---------- CSS FOR HTML 2 (POPCULTURE) ONLY ---------- */

h2{
 font-family: Arcade;
 font-size: 40px;
 text-align: center;
 padding-top: 30px;
}

.popculturepics, .popculturepics2{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
}
.popculturepics img{
  width: 220px;  
} 
.popculturepics2 img{
  width: 220px;  
}

.itemnamepc, .itemnamepc2 {
  font-family: Oswald;
  font-size: 20px; 
   display: grid;
  grid-template-columns: repeat(6, 1fr);
  transform: translateX(5%);
}

.name3, .name9{
  transform: translateX(-3%);
}
.name4, .name10{
  transform: translateX(-5%);
}
.name5, .name11{
  transform: translateX(-8%);
}
.name6, .name12{
  transform: translateX(-10%);
}

.pricepc, .pricepc2{
  font-family: Gamer;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  transform: translateX(5%);
 
}
.pricepc{
  padding-bottom: 40px;
}
.pricepc2{
  padding-bottom: 70px;
}

.price1, .price7{
  transform: translateX(6%);
}
.price2, .price8{
  transform: translateX(7%);
}
.price3, .price9{
  transform: translateX(4%);
}
.price4, .price10{
  transform: translateX(2%);
}
.price6, .price12{
  transform: translateX(-3%);
}

/*---------- END OF CSS FOR HTML 2 (POPCULTURE) ONLY ---------- */

/*---------- CSS FOR HTML 3 (CART) ONLY ---------- */

h2{
  font-family: Arcade;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
 }

.itemcart img{
  width: 178px; 
  padding-bottom: 20px;
  padding-left: 20px;
} 
.itemcart{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item1, .item2, .item3, .item4{
  font-family: Oswald;
  font-size: 20px;
  transform: translateX(-55%) translateY(10%)
}

.price1, .price2, .price3, .price4{
  font-family: Gamer;
  font-size: 30px; 
  transform: translateX(-155%) translateY(20%)
}

h3{
  font-family: Gamer;
  font-size: 35px;
 text-align: right;
 transform: translateX(-12.5%) translateY(40%);
}

.mightlikepics, .mightlikepics2{
  display: grid;
  grid-template-columns: repeat(3, 178px);
  column-gap: 15px;
  justify-content: end;
  padding-right: 20px;
  transform: translateY(-410%);
}

.mightlikepics img{
  width: 178px; 
}
.mightlikepics2 img{
  width: 178px; 
  transform: translateY(20%);
  }

.mightlikenames, .mightlikenames2{
  font-family: Oswald;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(3, 178px);
  justify-content: end;
  transform: translateY(-4800%);
}
.mightlikenames2{
  transform: translateY(-4500%);
}

.mightlikeprice, .mightlikeprice2{
  font-family: Gamer;
  font-size: 30px; 
  display: grid;
  grid-template-columns: repeat(3, 178px);
  justify-content: end;
  transform: translateY(-3000%);
}
.mightlikeprice{
  transform: translateY(-3200%);
}

.checkoutnow button{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: RetroGaming;
  font-size: 25px;
  border-radius: 5px;
  width: 300px;
  height: 61px;
}

.checkoutnow{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 20px;
  padding-left: 20px;
  transform: translateY(-900%);
}

.checkoutnow .total{
  font-family: RetroGaming;
  font-size: 16px;
  color: #8B0F0F; 
  transform: translateX(-5%) translateY(30%);
}

.checkoutnow .totalprice{
  font-family: Gamer;
  font-size: 25px;
  transform: translateX(-85%) translateY(21%);
}
 
.continueshopping p{
font-family: RetroGaming;
font-size: 16px;
transform: translateY(-3350%);
padding-left: 22px;
}

.footercart{ /*fixes container to fit cart html*/
  background-color: black;
  height: 623px;
  transform: translateY(-70%)

}


footer h4{ /*customizes h4 in footer*/
  color: white;
  font-size: 20px;
  font-family: RetroGaming;
  padding: 20px;
}
/* customizes ul in footer */
footer li{
  padding:10px;
}

footer ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Oswald;
  padding: 20px;
}

/* moves items in footer on X axis */
.siteinfo{
transform: translateX(5%);
}
.aboutht{
  transform: translateX(-4%)
}
.customerservice{
  transform: translateX(-3%)
}

 


  



/*---------- END OF CSS FOR HTML 3 (CART) ONLY ---------- */


/* ---footer--- css */
.footer{ /*colours countainer and gives it a height*/
  background-color: black;
  height: 623px;
}

footer h4{ /*customizes h4 in footer*/
  color: white;
  font-size: 20px;
  font-family: RetroGaming;
  padding: 20px;
}
/* customizes ul in footer */
footer li{
  padding:10px;
}

footer ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Oswald;
  padding: 20px;
}

/* moves items in footer on X axis */
.siteinfo{
transform: translateX(5%);
}
.aboutht{
  transform: translateX(-4%)
}
.customerservice{
  transform: translateX(-3%)
}


/* Style all font awesome icons */
.fa {
  padding:15px;
  font-size: 40px;
  width: 10px;
  text-decoration: none;
  border-radius: 50%;
  transform: translateX(90%) /*moves items on X axis*/
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* styles each logo's colour, for this design they're all the same */
  .fa-instagram {
    background: black;
    color: white;
  }
  .fa-twitter {
    background: black;
    color: white;
  }
  .fa-facebook {
    background: black;
    color: white;
  }
  .fa-youtube {
    background: black;
    color: white;
  }
  .fa-pinterest {
    background: black;
    color: white;
  }

 